Repository 6im0n/Arcade, pull requests merged in 2024-03, with the labels that each got.

#1 :memo: Update and add documentation
  .github/ISSUE_TEMPLATE/custom.md
  CONTRIBUTING.md
  README.md
Labels: documentation, enhancement

#6 :building_construction: add Makefile and tree structure
  .gitignore
  Makefile
  core/main.cpp
  lib/ncurses/ncurses.cpp
  lib/pacman/pacman.cpp
  lib/sdl/sdl.cpp
  lib/sfml/sfml.cpp
  lib/snake/snake.cpp
  tests/test.cpp
Labels: enhancement

#15 14 add the structure of shared arcade
  Interfaces/IEntity.hpp
  Interfaces/IGame.hpp
  Interfaces/IGraphic.hpp
  Interfaces/ISound.hpp
  Interfaces/IText.hpp
  abstract/.gitkeep
  lib/snake/snake.cpp
Labels: enhancement

#20 11 create snake map
  Makefile
  abstract/.gitkeep
  lib/snake/Color.cpp
  lib/snake/Color.hpp
  lib/snake/Snake.cpp
  lib/snake/Snake.hpp
  lib/snake/Void.cpp
  lib/snake/Void.hpp
  lib/snake/Wall.cpp
  lib/snake/Wall.hpp
Labels: games, snake

#19 🏗️ Refactor Makefile structure
  Makefile
Labels: documentation, enhancement

#22 12 create snake element
  Interfaces/IGame.hpp
  Makefile
  lib/snake/Entities/Color.cpp
  lib/snake/Entities/Color.hpp
  lib/snake/Entities/SnakeBody.cpp
  lib/snake/Entities/SnakeBody.hpp
  lib/snake/Entities/Void.cpp
  lib/snake/Entities/Void.hpp
  lib/snake/Entities/Wall.cpp
  lib/snake/Entities/Wall.hpp
  lib/snake/Snake.cpp
  lib/snake/Snake.hpp
  lib/snake/SnakeGame.cpp
  lib/snake/SnakeGame.hpp
  lib/snake/snake.cpp
Labels: games, snake

#23 13 managing the snakes eat event
  Makefile
  lib/snake/Entities/Food.cpp
  lib/snake/Entities/Food.hpp
  lib/snake/Entities/SnakeBody.cpp
  lib/snake/Snake.cpp
  lib/snake/Snake.hpp
  lib/snake/SnakeGame.hpp
Labels: games, snake

#24 ✨ add the core class
  Interfaces/IEntity.hpp
  Interfaces/IGame.hpp
  Interfaces/IGraphic.hpp
  Interfaces/ISound.hpp
  Interfaces/IText.hpp
  Makefile
  core/Core.cpp
  core/Core.hpp
  core/DLLoader.cpp
  core/DLLoader.hpp
  core/main.cpp
  tests/testDL.cpp
  tests/testDL.hpp
  tests/testDLLoader.cpp
Labels: enhancement

#26 25 handle collision in snake game
  lib/snake/Snake.cpp
  lib/snake/Snake.hpp
  lib/snake/SnakeGame.cpp
  lib/snake/SnakeGame.hpp
Labels: games, snake

#29 27 implement startgame stopgame and simulate methos of snakegame
  Interfaces/IGame.hpp
  Interfaces/IGraphic.hpp
  core/Core.cpp
  includes/keys.hpp
  lib/snake/SnakeGame.cpp
  lib/snake/SnakeGame.hpp
Labels: games, snake

#33 🐛 add a wall at the end of the map
  src/snake/SnakeGame.cpp
Labels: bug, games, snake

#35 🐛 fix collision of snake
  src/snake/Snake.cpp
  src/snake/SnakeGame.cpp
Labels: bug, games, snake

#38 ✨ add a clock to the snake
  Makefile
  classes/Timer.cpp
  classes/Timer.hpp
  src/snake/Snake.cpp
  src/snake/Snake.hpp
Labels: bug, games, snake

#39 🐛 size of snake
  src/snake/Snake.cpp
Labels: bug, games, snake

#40 🐛 fix crash when snake eating a food
  src/snake/Entities/Food.cpp
  src/snake/Snake.cpp
  src/snake/Snake.hpp
  src/snake/SnakeGame.cpp
Labels: bug, games, snake

#41 ⚡️ center the map in window
  src/snake/Entities/Food.cpp
  src/snake/Snake.cpp
  src/snake/SnakeGame.cpp
  src/snake/SnakeGame.hpp
Labels: games, snake

#44 42 add tests for snake game
  Makefile
  classes/Color.cpp
  classes/Color.hpp
  classes/Timer.cpp
  src/snake/Entities/Food.cpp
  src/snake/Entities/SnakeBody.cpp
  src/snake/Entities/Void.cpp
  src/snake/Entities/Wall.cpp
  src/snake/Snake.cpp
  src/snake/Snake.hpp
  tests/snake/Entities/tests_food.cpp
  tests/snake/Entities/tests_snake_body.cpp
  tests/snake/Entities/tests_void.cpp
  tests/snake/Entities/tests_wall.cpp
  tests/snake/tests_SnakeGame.cpp
  tests/snake/tests_snake.cpp
  tests/tests_color.cpp
  tests/tests_timer.cpp
Labels: games, snake, test

#48 🐛 Snake movement
  src/snake/Snake.cpp
Labels: bug, games, snake

#50 🏗️ Update Makefile flags and rules
  Makefile
Labels: Architecture

#28 10 snake game
  Interfaces/IGame.hpp
  Interfaces/IGraphic.hpp
  Makefile
  abstract/.gitkeep
  abstract/AGame.cpp
  abstract/AGame.hpp
  classes/Color.cpp
  classes/Color.hpp
  classes/Timer.cpp
  classes/Timer.hpp
  core/Core.cpp
  includes/keys.hpp
  lib/snake/snake.cpp
  src/ncurses/ncurses.cpp
  src/pacman/pacman.cpp
  src/sdl/sdl.cpp
  src/sfml/sfml.cpp
  src/snake/Entities/Food.cpp
  src/snake/Entities/Food.hpp
  src/snake/Entities/SnakeBody.cpp
  src/snake/Entities/SnakeBody.hpp
  src/snake/Entities/Void.cpp
  src/snake/Entities/Void.hpp
  src/snake/Entities/Wall.cpp
  src/snake/Entities/Wall.hpp
  src/snake/Snake.cpp
  src/snake/Snake.hpp
  src/snake/SnakeGame.cpp
  src/snake/SnakeGame.hpp
  tests/snake/Entities/tests_food.cpp
  tests/snake/Entities/tests_snake_body.cpp
  tests/snake/Entities/tests_void.cpp
  tests/snake/Entities/tests_wall.cpp
  tests/snake/tests_SnakeGame.cpp
  tests/snake/tests_snake.cpp
  tests/testDLLoader.cpp
  tests/tests_color.cpp
  tests/tests_timer.cpp
Labels: games, snake

#52 feat: add a score area
  Makefile
  assets/Roboto-Regular.ttf
  src/snake/Score.cpp
  src/snake/Score.hpp
  src/snake/SnakeGame.cpp
  src/snake/SnakeGame.hpp
Labels: enhancement, games, snake

#59 ✏️ Fix capitalization of includes/keys.hpp and update references
  core/Core.cpp
  includes/Keys.hpp
  src/snake/SnakeGame.cpp
Labels: bug, documentation, Architecture

#61 🏗️ Fix Makefile rule name
  Makefile
Labels: bug, Architecture

#54 53 add assets to snake game
  assets/snake/Roboto-Regular.ttf
  assets/snake/apple.png
  assets/snake/body.png
  assets/snake/body_corner.png
  assets/snake/head.png
  assets/snake/tail.png
  assets/snake/void.png
  assets/snake/wall.png
  src/snake/Entities/Food.cpp
  src/snake/Entities/SnakeBody.cpp
  src/snake/Entities/SnakeBody.hpp
  src/snake/Entities/Void.cpp
  src/snake/Entities/Wall.cpp
  src/snake/Snake.cpp
  src/snake/Snake.hpp
  src/snake/SnakeGame.hpp
Labels: enhancement, games, snake
